*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, verdana;
    color: white;
}

header{
    padding: 10px 120px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    list-style: none;
    padding: 50px;
    font-size: 14px;
    font-weight: 500;
    
    
}
.navlinks :not(:last-child){
    padding-right: 100px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span{
    font-size: 20px;
    font-weight: 1000;
    padding-left: 10px;
}
.firstsection{
    background-image: url('Assets/section1_bg.svg');
    background-size: cover;
    height: 100vh;
    position: relative;
}
button{
    color: rgba(62, 134, 245, 1);
    background: white;
    padding: 10px 50px;
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}
.hero{
    justify-content: center;
    padding: 90px 0px 0px 120px;
}
.hero h1{
    font-size: 52px;
    padding:0 0 30px 0;
    font-weight: 800;
}
.hero p{
    font-size: 22px;
    width: 480px;
    line-height: 40px;
    padding-bottom: 70px;
}
.cta{
    background: rgba(62, 134, 245, 1);
    color: white;
    padding: 25px 70px;
}

.tripdetails{
    padding: 30px 10px;
    
}
.tripdetails:not(:first-child){
    margin: 0 95px;
}
.tripdetails:first-child{
    margin-right: 100px;
}
.ss1 span{
    color: black;
     padding-left: 5px ;
     margin-top: 0;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 750;
}
.ss1{
display: flex;
align-items: center;
}
.dropdown{
    margin-left: 10px;
}
select, option{
    margin-top: 10px;
    color: black;
    font-size: 15px;
    border-style: none;
}
.small-section{
    display: flex;
    padding: 10px 20px 10px 0px;
    position: absolute;
    transform: translateY(-50%);
    background: white;
    border-radius: 12px;
    justify-content: center;
    margin: 0 120px;
}
.booktrip{
    background:rgba(62, 134, 245, 1) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 45px;
    margin-top: 30px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
}
.booktrip img{
    margin-left: 5px;
}
.partners{
    background: rgba(248, 249, 252, 1);
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

/* styles for second section */

.secondsection{
    background-image: url('Assets/map.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.secondsection h1{
    color: black;
    font-size: 40px;
    line-height: 135%;
    padding: 50px 5px 50px 30px;
    width: 791px;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    
}
#first{
    margin-top: -50px;
}
.secondsection h1 span{
    color: rgba(62, 134, 245, 1);
}
.secondsection p{
    color: rgba(0, 0, 0, 0.5);
    width: 697px;
    line-height: 150%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
}

/* styles for third section */

.thirdsection{
    display: flex ;
    margin: 0;
    height: 100vh;
    padding: 0 10px;
    
}

/* First Div (3rd Section) */
.one{
    background-image: url('Assets/fullpic1.svg');
    background-position: -200px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 95vh; 
    transition: 1s;
}
.one p{
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 1s ease;
    font-size: 20px;
    width: 25em;
    transform: translateY(100vh);
    visibility: collapse;
}

.one_active{
    flex: 5;
    background-image: url('Assets/fullpic1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    transition: 1s ease;
    height: 95vh;
    box-shadow: 20px 20px 50px 30px black;
}
.one_active p{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 20px;
    width: 25em;
    position: relative;
    overflow: hidden;
}
.textone{
    position: absolute;
    top: 8vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 430px 0px 0; 
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 42px;  
    transition: 1.2s ease-in-out;
    overflow: hidden;
}
.textone_active{
    position: relative;
    transform: rotate(-90deg);
    transition: 1.2s ease;
    writing-mode: vertical-lr;
    padding: 0px 0px 0px 0; 
    margin: -40px 250px -160px 350px;
    overflow: hidden;
    font-size: 40px;
}
.one button{
    position: relative;
    top: 60vh;
    bottom: 0;
    left: 100px;
    color: white;
    right: 0;
    background-color: rgb(19, 111, 248);
    transition: 1s ease;
    font-size: 10px;
    padding: 15px 50px;
    transform: translateY(100vh);
    visibility: collapse;
    
}
.one_active button{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(19, 111, 248);
    position: relative; 
    padding: 15px 50px;
    margin-top: 20px;
}
.one img{
    position: relative;
    top: -8vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 2.5s;
    transform: translateX(-100vw);

}
.one_active img{
    transform: translateY(15vh);
    margin-left: 150px;
    opacity: 0.5;
    transition: 1s ease;
}
.one_active img:hover{
    cursor: pointer;
    opacity: 1;
    padding: 0;
    transition: 0.3s;
}

/* Second Div (3rd Section) */

.two{
    background-image: url('Assets/fullpic2.svg');
    background-size: cover;
    background-position: -70px 0px;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 95vh; 
    transition: 1s;
}
.two_active{
    background-image: url('Assets/fullpic2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 5;
    height: 95vh;
    transition: 1s ease;
    box-shadow: 20px 20px 50px 30px black;
}
.texttwo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 430px 0px 0; 
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 42px;  
    transition: 1.2s ease-in-out;
    overflow: hidden;
}
.texttwo_active{
    position: relative;
    transform: rotate(-90deg);
    transition: 1.2s ease;
    writing-mode: vertical-lr;
    padding: 0px 0px 0px 0; 
    margin: 30px 250px -120px 310px;
    overflow: hidden;
    font-size: 40px;
}
.two p{
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 1s ease;
    font-size: 20px;
    width: 25em;
    transform: translateY(100vh);
    visibility: collapse;
}
.two_active p{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 20px;
    width: 25em;
    position: relative;    
}
.two button{
    position: relative;
    top: 60vh;
    bottom: 0;
    left: 100px;
    color: white;
    right: 0;
    background-color: rgb(19, 111, 248);
    transition: 1s ease;
    font-size: 10px;
    padding: 15px 50px;
    transform: translateY(100vh);
    visibility: collapse;
    
}
.two_active button{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(19, 111, 248);
    position: relative; 
    padding: 15px 50px;
    margin-top: 20px;
    overflow: hidden;
}
.two img{
    position: relative;
    top: -8vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 2.5s;
    transform: translateX(-100vw);

}
.two_active img{
    transform: translateY(17vh);
    margin-left: 150px;
    opacity: 0.5;
    transition: 1s ease;
    overflow: hidden;
}
.two_active img:hover{
    cursor: pointer;
    opacity: 1;
    padding: 0;
    transition: 0.3s;
}

/* Third Div (3rd section) */

.three{
    background-image: url('Assets/fullpic3.svg');
    background-size: cover;
    background-position: -70px 0;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 95vh; 
    transition: 1s;
}

.three_active{
    background-image: url('Assets/fullpic3.svg');
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    flex: 5;
    height: 95vh;
    transition: 1s ease;
    box-shadow: 20px 20px 50px 30px black;
    
}

.textthree{
    position: absolute;
    top: 11vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 430px 0px 0; 
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 42px;  
    transition: 1.2s ease-in-out;
    overflow: hidden;
}
.textthree_active{
    position: relative;
    transform: rotate(-90deg);
    transition: 1s  ease-in;
    writing-mode: vertical-lr;
    padding: 0px 0px 0px 0; 
    margin: -80px 0px -220px 410px;
    overflow: hidden;
    font-size: 42px;
}
.three p{
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 1s ease;
    font-size: 20px;
    width: 25em;
    transform: translateY(100vh);
    visibility: collapse;
}
.three_active p{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 20px;
    width: 25em;
    position: relative; 
    line-height: 25px;   
}
.three button{
    position: relative;
    top: 60vh;
    bottom: 0;
    left: 100px;
    color: white;
    right: 0;
    background-color: rgb(19, 111, 248);
    transition: 1s ease;
    font-size: 10px;
    padding: 15px 50px;
    transform: translateY(100vh);
    visibility: collapse;
}
.three_active button{
    transition: 1s ease;
    margin-left: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(19, 111, 248);
    position: relative; 
    padding: 15px 50px;
    margin-top: 20px;
}
.three img{
    position: relative;
    top: -8vh;
    bottom: 0;
    left: 0px;
    right: 0;
    transition: 1s;
    transform: translateX(-100vw);

}
.three_active img{
    transform: translateY(15vh);
    margin-left: 150px;
    opacity: 0.5;
    transition: 1s ease;
}
.three_active img:hover{
    cursor: pointer;
    opacity: 1;
    padding: 0;
    transition: 0.3s;
}

/* fourth section */
.fourthSection{
    padding: 0 160px;
    display: flex;
}
.fourthSection .hh{
    color: black;
    width: 75%;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 40px ;
    
}
.left .palmtree{
    background-image: url('./Assets/palmtree.jpg');
    background-repeat: no-repeat;
    width: 484px;
    height: 711px;
    margin: 0 0 30px 250px;  
    
}
.palmtree:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)) , url('./Assets/palmtree.jpg');
    background-repeat: no-repeat;
    width: 484px;
    height: 711px;
    margin: 0 0 30px 250px;  
    border-radius: 20px;
    cursor: pointer;
}
.left .boat{
    background-image: url(./Assets/boat.jpg);
    width: 484px;
    height: 711px;
    margin:0 0 100px 250px;
}
.right .snowshed{
    background-image: url(./Assets/snowshed.jpg);
    width: 484px;
    height: 711px;
    margin-bottom: 30px;
}
.right .skier{
    background-image: url(./Assets/skier.jpg);
    width: 484px;
    height: 711px;   
}
.display_box{

}

.four_book{
width: 436px;
margin: auto;
padding-top: 485px;
}

.four_book h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.four_book .cam{
    font-size: 21px;
    color: grey;
    margin: 0;
}
.four_book button{
    width: 100%;
    height: 65px;
    background-color: rgba(62, 134, 245, 1);
    color: white;
    margin-top: 20px;
}