*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, verdana;
    color: white;
}

header{
    padding: 10px 120px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    list-style: none;
    padding: 50px;
    font-size: 14px;
    font-weight: 500;
    
    
}
.navlinks :not(:last-child){
    padding-right: 100px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span{
    font-size: 20px;
    font-weight: 1000;
    padding-left: 10px;
}
.firstsection{
    background-image: url('Assets/section1_bg.svg');
    background-size: cover;
    height: 100vh;
    position: relative;
}
button{
    color: rgba(62, 134, 245, 1);
    background: white;
    padding: 10px 50px;
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}
.hero{
    justify-content: center;
    padding: 90px 0px 0px 120px;
}
.hero h1{
    font-size: 52px;
    padding:0 0 30px 0;
    font-weight: 800;
}
.hero p{
    font-size: 22px;
    width: 480px;
    line-height: 40px;
    padding-bottom: 70px;
}
.cta{
    background: rgba(62, 134, 245, 1);
    color: white;
    padding: 25px 70px;
}

.tripdetails{
    padding: 30px 10px;
    
}
.tripdetails:not(:first-child){
    margin: 0 95px;
}
.tripdetails:first-child{
    margin-right: 100px;
}
.ss1 span{
    color: black;
     padding-left: 5px ;
     margin-top: 0;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 750;
}
.ss1{
display: flex;
align-items: center;
}
.dropdown{
    margin-left: 10px;
}
select, option{
    margin-top: 10px;
    color: black;
    font-size: 15px;
    border-style: none;
}
.small-section{
    display: flex;
    padding: 10px 20px 10px 0px;
    position: absolute;
    transform: translateY(-50%);
    background: white;
    border-radius: 12px;
    justify-content: center;
    margin: 0 120px;
}
.booktrip{
    background:rgba(62, 134, 245, 1) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 45px;
    margin-top: 30px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
}
.booktrip img{
    margin-left: 5px;
}
.partners{
    background: rgba(248, 249, 252, 1);
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

/* styles for second section */

.secondsection{
    background-image: url('Assets/map.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.secondsection h1{
    color: black;
    font-size: 40px;
    line-height: 135%;
    padding: 50px 5px 50px 30px;
    width: 791px;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    
}
#first{
    margin-top: -50px;
}
.secondsection h1 span{
    color: rgba(62, 134, 245, 1);
}
.secondsection p{
    color: rgba(0, 0, 0, 0.5);
    width: 697px;
    line-height: 150%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
}

/* styles for third section */
.subsection{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 90vh; 
    transition: 1s;
}
.subsection img{
    padding: 0%;
}

.one{
    background-image: url('Assets/fullpic1.svg');
    background-position: -30px 0;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 90vh; 
    transition: 1s;
}

.one_active{
    flex: 5;
    background-image: url('Assets/fullpic1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    opacity: 1;
    transition: 1s ease;
    height: 90vh;
}
.textone{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 430px 0px 0; 
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 40px;  
    transition: 1s ease-in-out;
    overflow: hidden;
}
.textone_active{
    position: relative;
    transform: rotate(-90deg);
    transition: 1s ease;
    writing-mode: vertical-lr;
    padding: 0px 0px 0px 0; 
    margin: -50px 250px 100px 200px;
    overflow: hidden;
}
/* .one{
    background-image: url('Assets/fullpic1.svg');
    background-position: -30px 0;
    opacity: 0.8;
    
} */
/* .one:active{
    background-image: url('Assets/fullpic1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    opacity: 1;
}
#one.active{
    background-image: url('Assets/fullpic1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    opacity: 1;

} */


.two{
    background-image: url('Assets/fullpic2.svg');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.7;
    height: 90vh; 
    transition: 1s;
}
.two_active{
    background-image: url('Assets/fullpic2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    flex: 5;
    height: 90vh;
    transition: 1s ease;
}

#three{
    background-image: url('Assets/fullpic3.svg');
    opacity: 0.8;
}
#three:active{
    background-image: url('Assets/fullpic3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.thirdsection{
    display: flex ;
    margin: 0;
    
    height: 100vh;
    
}

